@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* text-align: right; */
  background-color: #e2e8f0;
  height: 100vh;
  width: 100vw;
}